/* NAV STYLE START */


#nav-container {

  display: flex;

}

h2, h5, p{
  margin: 0px;
}

body {
  margin: 0;
}

.nav-item {
  margin-right: 10px;
}

/* NAV STYLE end
 */

/* NAV STYLE START */


#header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}



ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;

}

/* NAV STYLE START */



#Layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
}

#profile-container {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column: 2 / 3;
  border: 3px solid red;
  border-radius: 20px;
  padding: 5px;
}

#profile-banner {
grid-column: 1 / 3;
border-style: red;
height: 200px;
}

#contact-info {
  grid-column: 1 / 2;
  border-style: blue;
}

#links {
  grid-column: 2 /3;
  place-self: center;
}

.link-img {
  margin-right: 6px;
}

.link-item {
  padding: 5px;

}
