/* NAV STYLE START */


#nav-container {

  display: flex;

}

h2, h4,h5, p{
  margin: 0px;
}

body {
  margin: 0;
}

.nav-item {
  margin-right: 10px;
}

/* NAV STYLE end
 */

/* NAV STYLE START */


#header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}



ul, li {
  margin: 0;
  padding-left: 0;
  list-style: none;

}

/* NAV STYLE START */



#Layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
}

#profile-container {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column: 2 / 3;
  border: 3px solid red;
  border-radius: 20px;
  padding: 5px;
}

#profile-banner {
grid-column: 1 / 3;
border-style: red;
height: 200px;
background-color: aqua;
margin-bottom: 25px;
text-align: right;
display:flex;
flex-direction: row;
justify-content: end;

}

#contact-info {
  grid-column: 1 / 2;
}

#links {
  grid-column: 2 /3;
  place-self: center;
}

.link-img {
  margin-right: 6px;
}

.link-item {
  padding: 5px;

}

.circle-button {
  background-color: white;
  height: 15%;
  border-radius: 25px;
  border: 3px solid gray;
}

.circle-button:hover{
  background-color: lightgray;
  cursor: pointer;
}

#profile-edit {
  padding: 10px;
}

.close-button{
  padding: 15px 20px;
}

#edit-profile-container{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid grey;
  background-color: white;
  width: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
}

#edit-profile-header{
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  border-bottom: 1px solid gray;
}
#edit-profile-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 100px;
  height: 300px;
}

.edit-input{
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

#edit-profile-footer{
  display: flex;
  justify-content: end;
}